<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaabs.alanzeng.happsut">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/nullLOL">
        <activity
            android:name=".homePage"
            android:label="Feed" />
        <activity
            android:name=".searchPage"
            android:label="Search"/>
        <activity
            android:name=".LoginPage"
            android:label="@string/title_activity_login_page" />
        <activity
            android:name=".createNewAccount"
            android:label="Create New Account" />
        <activity
            android:name=".aboutMe"
            android:label="About me" />
        <activity
            android:name=".homePageOrg"
            android:label="Feed" />
        <activity
            android:name=".addNewEvent"
            android:label = "Add New Event"/>
        <activity
            android:name=".editEvent"
            android:label="Edit Event"/>
        <activity
            android:name=".createNewOrg"
            android:label = "Create New Organization"/>
    </application>

</manifest>